<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= button_to "GET JSON /api/projects.json", "/api/projects.json", method: :get %>

<br/>

<%= button_to "GET JSON /api/project/12.json", "/api/projects/12.json", method: :get %>

<br/>

<%= button_to "POST JSON /api/projects", "/api/projects.json", method: :post %>

<br/>

<%= button_to "POST JSON /api/post-status.json", "/api/post-status.json", method: :post %>

<br/>

<%= button_to "GET JS /api/return-js.js (remote)", "/api/return-js.js", method: :get, remote: true %>


